n8n/recordatorios-citas.json
{
  "name": "Recordatorios de citas (push 24h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Schedule 08:00 La Paz",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ],
      "notes": "Cron diario 08:00. La zona horaria se toma de Settings -> Timezone del workflow (America/La_Paz)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://yiyfwfvxdseamnelgetf.supabase.co/auth/v1/token?grant_type=password",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REEMPLAZAR_ANON_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"email\": \"admin@clinica.com\",\n  \"password\": \"REEMPLAZAR_PASSWORD\"\n}",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Login Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "notes": "Login del ADMINISTRADOR. Devuelve { access_token, ... }. Reemplazar REEMPLAZAR_ANON_KEY (apikey header) y REEMPLAZAR_PASSWORD (body)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REEMPLAZAR_NGROK/api/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation{ enviarRecordatorios }\"\n}",
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Enviar recordatorios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "notes": "Llama la mutation enviarRecordatorios de MS1 (ms-pacientes, /api/graphql). Reemplazar REEMPLAZAR_NGROK por el host publico que tunelea MS1:3000."
    }
  ],
  "connections": {
    "Schedule 08:00 La Paz": {
      "main": [
        [
          {
            "node": "Login Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Supabase": {
      "main": [
        [
          {
            "node": "Enviar recordatorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/La_Paz"
  },
  "pinData": {}
}
